<!DOCTYPE html>
<html lang="cn">
	<head>
		<title>Chunsheng Zhang | CN Software Engineer</title>
		<meta charset="utf-8" />
		<meta name="author" content="Chunsheng Zhang" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="description" content="我的个人简历，使用html5开发" />
		<meta name="keywords" content="张春生, Chunsheng, Zhang, Zhang Chunsheng, Chunsheng Zhang, Software Engineer, TensorFlow, AI, Self-Driving car, HTML5, Node, Nodejs, Webkit, Chrome, Firefox, Safari, Google Glass, Android, Java, Redis, HBase, Hadoop, Mysql, MongoDB, PHP, Python, Golang, C Lang, CLang, javascript, 关于我, 全栈工程师, 软件开发工程师, 人工智能, 自动驾驶, 无人驾驶, 5G, 软件开发, 软件工程师, 江苏, 徐州" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="bookmark" href="favicon.ico"/>
		<link rel="apple-touch-icon" href="images/golang-gopher-figurine.png" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootflat.css">
		<link rel="stylesheet" type="text/css" href="css/about.css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/about_en.css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width: 600px) and (min-width: 5px)" />
		<link rel="stylesheet" type="text/css" href="css/tablet.css" media="screen and (max-width: 880px) and (min-width: 601px)" />
		<!-- <link href='css/family_lato.css' rel='stylesheet' type='text/css'> -->
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="js/lib/html5shiv.js"></script>
	      <script src="js/lib/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-31588662-3']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<header class="docs-header">
			<nav class="navbar navbar-default navbar-custom menu" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">
		                	<bdo dir="RTL">resume</bdo>
		            	</div>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="nav-link" href="./aboutMe.html"><bdo dir="RTL">中文</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="introduction"><bdo dir="RTL">introduction</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="technology"><bdo dir="RTL">technology</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="work"><bdo dir="RTL">work</bdo></a>
							</li>
							<li>
								<a class="nav-link"  href="#" data-href="statement"><bdo dir="RTL">statement</bdo></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<section id="introduction" class="section">
			<h1 class="introduction">I am Chunsheng Zhang</h1>
			<h2 class="strapline">Birthplace: Xuzhou Jiangsu. I'm an architect, a full-stack engineer, Java & PHP senior software engineer, The author of PHP-Wechaty, Developed GoLang, Python, Lua, Nodejs, Objective-C, etc. I like to study and research on new technology: Cloud Native App, K8S, TensorFlow, AI, metaverse, bigdata, Self-Driving Car, Grpc, Protobuf, Spring Cloud, Swoole, Html5, GoLang, WebGL, Nodejs, Nosql, Redis, Hbase, Thrift. I think technology should be combined with art. Wherever my dream is, I am wherever I am, because only struggle can change fate.</h2>
			<!--<h2 class="introline">In daily work, I strictly demand myself, be diligent and ask questions, and work seriously and responsibly. Mastered the company's main development technology and development framework in a short time,
					Receptive ability, strong self-learning ability. In case of problems, they can communicate with project members in a timely manner, allocate work tasks reasonably, and help other employees to eliminate program errors during the daily development process.
					When encountering a bug in the program, the cause of the problem can be found in time, and the problem can be solved in a timely manner with a clear idea. Can actively communicate with users and drivers at work, do demand research and system demonstration,
					Encountered problems can be handled flexibly. Develop code, proactively perform self-tests, write test cases, and improve code reliability. Actively view the error log to reduce the scope of the error. Actively check the interface response time,
					Optimize application performance. He often provides suggestions for project development and company development, and introduces some new technologies and frameworks into the project. My motto: "A good start is half the battle."
			</h2>-->
			<h4 class="strapline">
				Email:1097692918@qq.com
			</h4>
			<nav id="social">
				<ul id="social-icons">
					<li>
						<a href="http://weibo.com/justwannabewithyou" class="weibo">weibo</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/justwannabewithyou" class="linkedIn">linkedIn</a>
					</li>
					<li>
						<a href="http://www.renren.com/zhangchunsheng423" class="renren">renren</a>
					</li>
					<li>
						<a href="https://www.facebook.com/yiluxiangbeigp" class="facebook">facebook</a>
					</li>
					<li>
						<a href="https://github.com/zhangchunsheng" class="github">github</a>
					</li>
				</ul>
			</nav>
			<p class="green">
				<span class="heart"></span>
				Please love the environment, saving paper
				<span class="heart"></span>
			</p>
			<div class="earth">
				
			</div>
		</section>

		<section id="technology" class="section">
			<div class="content">
				<div class="info">
					technology to change the future
				</div>
				<div class="skill-section-one" id="skills">

				</div>
				<div class="skill-section-two">
					<h3>Java/PHP/Lua/Python/Node.js/Golang/C/C++/Asp.net/C#</h3>
					<p>Building Enterprise Applications with Java, Use PHP to build website is a good choice; AI you have to learn it now, anaconda and jupyter are good tools; Node.js extends JavaScript application scenarios; Java let me understand the Object-Oriented</p>

					<h3>HTML5/CSS3/WebAR/WebGL/Vue/Javascript/JQuery/Bootstrap</h3>
					<p>I like Chrome, V8, javascript. electron is a nice project, Mobile Internet has changed people's lives, the metaverse is worth looking forward to</p>

					<h3>Nosql/Mysql/tidb/Percona/mariadb/fastdfs/fastcfs/canal/sqlite/mmap/clickhouse/mongo/cassandra/HBase/Hadoop/Oracle</h3>
					<p>The world is full of data, search data, add, update, delete, analysis, backup, restore and data safe issues that need to be considered, big data age need nosql and distributed storage, fastcfs is a good choice</p>

					<h3>RabbitMQ/Kafka/Redis/Yac/Aerospike/canal</h3>
					<p>The use of queues and caches can greatly improve the amount of concurrency. The architecture based on message subscription / consumption can allow data processing to be carried out in an orderly manner, and time can be used for space.</p>

					<h3>spring-boot/spring-cloud/MyBatis/druid/netty/Zend/Phalcon/Medoo/Yaf/Yar/express/beego/http/tcp/protobuf/grpc/Thrift</h3>
					<p>Reasonable use of frameworks and protocols is conducive to faster project development, iteration, upgrade, and maintenance, and building interface services that conform to industry standards</p>

					<h3>Design Patterns/Singleton/Factory/Adapter/Composite/MVC/UML</h3>
					<p>Use design patterns and modeling tools to facilitate project development and maintenance, provide clear architecture and documentation</p>

					<h3>phabricator review/phpunit/XhProf/tsar/ab/JMeter/ELK/Fluentd/filebeat/Kibana/prometheus/Grafana/APM/gdb/curl/netstat/top/tcpdump/tail/cat/zcat/grep/awk</h3>
					<p>Code review is helpful for mutual learning, mutual supervision, and problem discovery in advance. Unit testing can be found in advance through white box testing. Potential bugs and system bottlenecks can be found through business and system log collection</p>

					<h3>Nginx/rpm/yum/VZ/LXC/systemd/LVS/haproxy/rsync/Jenkins/k8s/docker/docker-compose/Harbor/nexus/ansible/openldap/etcd/cronsun/openstack</h3>
					<p>Operation and maintenance is the support of project operation, and the deployment and tuning of related software is essential</p>

					<h3>Team management/Project management/OKR/redmine/wekan/jira/gitlab/phabricator</h3>
					<p>Performance appraisal, team management, and project management are also a guarantee to make excellent products. Peter Drucker, the father of modern management, believes that "effective managers should pay attention to the strengths of people, and not mind their shortcomings."</p>

					<h3>Microservice/register/config/Circuit Breaker/Hystrix/Cloud Native/Kubernetes/Mesos</h3>
					<p>Service stability and scalability are essential for Internet services. Microservices and cloud-native architecture can solve server downtime and other issues well</p>

					<h3>Flink/Hadoop/zookeeper/CDH/Spark/Azkaban/Kudu/Hive/Hue/Doris/IoT/TDengine</h3>
					<p>Big data analysis is the basis for user growth, company operations, and other decisions. It provides personalized recommendations through user behavior analysis and provides visual data to create value for users.</p>

					<h3>AI/metaverse/DeepLearning/matlab/CV/NLP/CNN/RNN/RCNN/lstm/Sigmoid/Relu/Caffe/pytorch</h3>
					<p>Through deep learning, computers can recognize pictures, speech, semantics, and synthetic languages, which will be widely used in smart cities, autonomous driving, customer service, medicine, education, and industry.</p>

					<h3>Apple/Google/Google Lens/Google Glass/Google Car/Tesla/SpaceX/集度/大疆/小米/小鹏</h3>
					<p>I like Apple and Google's products, they are very cool</p>
				</div>
			</div>
		</section>

		<section id="work" class="section">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline">
						<dl>
							
						</dl>
					</div>
				</div>
			</div>
		</section>

		<section id="qrcode" class="section">
			<div class="row">
				<div class="col-md-12">
					<img src="images/qrcode2_new.png" class="avatar"/>
				</div>
			</div>
		</section>

		<section id="statement" class="section">
			<div class="content">
				<h2>reference</h2>
				<ul>
					<li>
						<a href="http://www.facebook.com">
							http://www.facebook.com
						</a>
					</li>
				</ul>
			</div>
		</section>
		
		<footer>
			
		</footer>
		
		<a href="#introduction" id="to-top-button" style="">back to top</a>

        <script type="text/template" id="skill_template">
            <div class="core-skills">
                tech
            </div>
            <div class="skill-diagram">
            	<% for(var i = 0; i < skills.length; i++) { %>
	            <div class="<%= skills[i].name %>-skill">
	                <div class="<%= skills[i].name %>-skill-content">
	                    <%= skills[i].content %>
	                </div>
	            </div>
	            <%}%>
            </div>
        </script>

        <script type="text/javascript" src="js/lib/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.i18n.properties.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/underscore-min.js"></script>

        <!--<script type="text/javascript" src="js/webGL/three.js"></script>
		<script type="text/javascript" src="js/webGL/Projector.js"></script>
		<script type="text/javascript" src="js/webGL/CanvasRenderer.js"></script>
		<script type="text/javascript" src="js/webGL/stats.min.js"></script>
        <script type="text/javascript" src="js/webGL/earth.js"></script>-->
        <script type="text/javascript" src="js/math/sphere.js"></script>
        <script type="text/javascript" src="js/math/earth.js"></script>
        <script type="text/javascript" src="js/math/heart.js"></script>

        <script type="text/javascript">
            var data = [{
                name: "java-php",
                content: "Java/PHP/Lua"
            }, {
                name: "html5-css3",
                content: "HTML5/JS/CSS3"
            }, {
                name: "js-jquery",
                content: "MVC/Yaf/Yar"
            }, {
                name: "mysql-oracle",
                content: "Mysql/Nosql"
            }, {
                name: "nosql",
                content: "RabbitMQ/Kafka"
            }, {
                name: "hbase-thrift",
                content: "Linux/yum/lxc"
            /*}, {
                name: "hadoop",
                content: "Hadoop"
            }, {
                name: "nodejs",
                content: "Nodejs"*/
            }];
            var html = $("#skill_template").html();
            $("#skills").html(_.template(html)({skills: data}));
        </script>
        <script type="text/javascript" src="js/init.js"></script>
        <script type="text/javascript" src="js/timeline.js"></script>
        <script type="text/javascript" src="js/about.js"></script>
	</body>
</html>
