<!DOCTYPE html>
<html lang="cn">
	<head>
		<title>Chunsheng Zhang | CN Software Engineer</title>
		<meta charset="utf-8" />
		<meta name="author" content="Chunsheng Zhang" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="description" content="我的个人简历，使用html5开发" />
		<meta name="keywords" content="张春生, Chunsheng, Zhang, Zhang Chunsheng, Chunsheng Zhang, Software Engineer, TensorFlow, AI, Self-Driving car, HTML5, Node, Nodejs, Webkit, Chrome, Firefox, Safari, Google Glass, Android, Java, Redis, HBase, Hadoop, Mysql, MongoDB, PHP, Python, Golang, C Lang, CLang, javascript, 关于我, 全栈工程师, 软件开发工程师, 人工智能, 自动驾驶, 无人驾驶, 软件开发, 软件工程师, 江苏, 徐州, 爱护环境, 节约纸张, Love environment, saving paper" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="bookmark" href="favicon.ico"/>
		<link rel="apple-touch-icon" href="images/golang-gopher-figurine.png" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootflat.css">
		<link rel="stylesheet" type="text/css" href="css/about.css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width: 600px) and (min-width: 5px)" />
		<link rel="stylesheet" type="text/css" href="css/tablet.css" media="screen and (max-width: 880px) and (min-width: 601px)" />
		<!-- <link href='css/family_lato.css' rel='stylesheet' type='text/css'> -->
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="js/lib/html5shiv.js"></script>
	      <script src="js/lib/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-31588662-3']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<header class="docs-header">
			<nav class="navbar navbar-default navbar-custom menu" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">
		                	<bdo dir="RTL">个人简历</bdo>
		            	</div>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="nav-link" href="./aboutMeEn.html"><bdo dir="RTL">EN</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="introduction"><bdo dir="RTL">介绍</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="technology"><bdo dir="RTL">技能</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="work"><bdo dir="RTL">工作</bdo></a>
							</li>
							<li>
								<a class="nav-link"  href="#" data-href="statement"><bdo dir="RTL">声明</bdo></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<section id="introduction" class="section">
			<h1 class="introduction">我是张春生</h1>
			<h2 class="strapline">籍贯：江苏徐州，全栈工程师，PHP&Html5高级软件工程师，喜欢Python，Lua，喜欢iOS，喜欢学习和研究新的技术：TensorFlow, AI, Self-Driving Car, Swoole, Html5, GoLang, WebGL, Nodejs, Nosql, Redis, Hbase, Thrift，技术应该和艺术结合在一起</h2>
			<h4 class="strapline">
				Email:1097692918@qq.com<br />
				Cellphone:13439174818
			</h4>
			<nav id="social">
				<ul id="social-icons">
					<li>
						<a href="http://weibo.com/justwannabewithyou" class="weibo">新浪微博</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/justwannabewithyou" class="linkedIn">linkedIn</a>
					</li>
					<li>
						<a href="http://www.renren.com/zhangchunsheng423" class="renren">人人网</a>
					</li>
					<li>
						<a href="https://www.facebook.com/yiluxiangbeigp" class="facebook">facebook</a>
					</li>
					<li>
						<a href="https://github.com/zhangchunsheng" class="github">github</a>
					</li>
				</ul>
			</nav>
			<p class="green">
				<span class="heart"></span>
				请爱护环境，节约纸张
				<span class="heart"></span>
			</p>
			<div class="earth">
				
			</div>
		</section>

		<section id="technology" class="section">
			<div class="content">
				<div class="info">
					技术改变未来
				</div>
				<div class="skill-section-one" id="skills">

				</div>
				<div class="skill-section-two">
					<h3>Python/Node/Golang/PHP/Lua/C/C++/Java/Asp.net/C#</h3>
					<p>AI你不得不学了，Python让人着迷；Node越来越流行；Java让我理解了面向对象，但是java臃肿了；用php和ruby构建网站是个不错的选择</p>

					<h3>HTML5/CSS3/WebGL/Javascript/JQuery/Bootstrap</h3>
					<p>喜欢Chrome，喜欢V8，喜欢javascript，webapp将成为主流，node-webkit是个不错的项目，让移动互联网的趋势来的更猛烈些吧</p>

					<h3>Nosql/Redis/HBase/Hadoop/Mysql/Oracle</h3>
					<p>世界充满了数据，数据查询、添加、修改、删除、分析、备份、还原、安全都是需要考虑的问题，大数据时代需要nosql</p>

					<h3>Apple/Google/Google Glass/Google Car/TensorFlow/AI</h3>
					<p>喜欢Apple和Google的产品，觉得他们很酷</p>
				</div>
			</div>
		</section>

		<section id="work" class="section">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline">
						<dl>
							
						</dl>
					</div>
				</div>
			</div>
		</section>

		<section id="qrcode" class="section">
			<div class="row">
				<div class="col-md-12">
					<img src="images/qrcode2_new.png" class="avatar"/>
				</div>
			</div>
		</section>

		<section id="statement" class="section">
			<div class="content">
				<h2>参考</h2>
				<ul>
					<li>
						<a href="http://www.facebook.com">
							http://www.facebook.com
						</a>
					</li>
				</ul>
			</div>
		</section>
		
		<footer>
			
		</footer>
		
		<a href="#introduction" id="to-top-button" style="">回到顶部</a>

        <script type="text/template" id="skill_template">
            <div class="core-skills">
                技能
            </div>
            <div class="skill-diagram">
            	<% for(var i = 0; i < skills.length; i++) { %>
	            <div class="<%= skills[i].name %>-skill">
	                <div class="<%= skills[i].name %>-skill-content">
	                    <%= skills[i].content %>
	                </div>
	            </div>
	            <%}%>
            </div>
        </script>

        <script type="text/javascript" src="js/lib/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.i18n.properties.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/underscore-min.js"></script>

        <!--<script type="text/javascript" src="js/webGL/three.min.js"></script>
		<script type="text/javascript" src="js/webGL/Projector.js"></script>
		<script type="text/javascript" src="js/webGL/CanvasRenderer.js"></script>
		<script type="text/javascript" src="js/webGL/stats.min.js"></script>
        <script type="text/javascript" src="js/webGL/earth.js"></script>-->
        <script type="text/javascript" src="js/math/sphere.js"></script>
        <script type="text/javascript" src="js/math/earth.js"></script>
        <script type="text/javascript" src="js/math/heart.js"></script>

        <script type="text/javascript">
            var data = [{
                name: "java-php",
                content: "php/lua/java"
            }, {
                name: "html5-css3",
                content: "HTML5/CSS3"
            }, {
                name: "js-jquery",
                content: "js/jquery/node"
            }, {
                name: "mysql-oracle",
                content: "mysql/oracle"
            }, {
                name: "nosql",
                content: "nosql/redis"
            }, {
                name: "hbase-thrift",
                content: "hbase/thrift"
            /*}, {
                name: "hadoop",
                content: "hadoop"
            }, {
                name: "nodejs",
                content: "nodejs"*/
            }];
            var html = $("#skill_template").html();
            $("#skills").html(_.template(html)({skills: data}));
        </script>
        <script type="text/javascript" src="js/init.js"></script>
        <script type="text/javascript" src="js/timeline.js"></script>
        <script type="text/javascript" src="js/about.js"></script>
	</body>
</html>
