<!DOCTYPE html>
<html lang="cn">
	<head>
		<title>Chunsheng Zhang | CN Software Engineer</title>
		<meta charset="utf-8" />
		<meta name="author" content="Chunsheng Zhang" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="description" content="我的个人简历，使用html5开发" />
		<meta name="keywords" content="张春生, Chunsheng, Zhang, Zhang Chunsheng, Chunsheng Zhang, Software Engineer, TensorFlow, AI, Self-Driving car, HTML5, Node, Nodejs, Webkit, Chrome, Firefox, Safari, Google Glass, Android, Java, Redis, HBase, Hadoop, Mysql, MongoDB, PHP, Python, Golang, C Lang, CLang, javascript, 关于我, 全栈工程师, 软件开发工程师, 人工智能, 自动驾驶, 无人驾驶, 5G, 软件开发, 软件工程师, 江苏, 徐州, 爱护环境, 节约纸张, Love environment, saving paper" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="bookmark" href="favicon.ico"/>
		<link rel="apple-touch-icon" href="images/golang-gopher-figurine.png" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootflat.css">
		<link rel="stylesheet" type="text/css" href="css/about.css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width: 600px) and (min-width: 5px)" />
		<link rel="stylesheet" type="text/css" href="css/tablet.css" media="screen and (max-width: 880px) and (min-width: 601px)" />
		<!-- <link href='css/family_lato.css' rel='stylesheet' type='text/css'> -->
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="js/lib/html5shiv.js"></script>
	      <script src="js/lib/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-31588662-3']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<header class="docs-header">
			<nav class="navbar navbar-default navbar-custom menu" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">
		                	<bdo dir="RTL">个人简历</bdo>
		            	</div>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="nav-link" href="./aboutMeEn.html"><bdo dir="RTL">EN</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="introduction"><bdo dir="RTL">介绍</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="technology"><bdo dir="RTL">技能</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="work"><bdo dir="RTL">工作</bdo></a>
							</li>
							<li>
								<a class="nav-link"  href="#" data-href="statement"><bdo dir="RTL">声明</bdo></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<section id="introduction" class="section">
			<h1 class="introduction">我是张春生</h1>
			<h2 class="strapline">籍贯：江苏徐州，架构师，全栈工程师，Java&PHP资深软件工程师，PHP-Wechaty作者，开发过Golang，Python，Lua，Nodejs，Objective-C等，喜欢学习和研究新的技术：
				云原生, K8S, TensorFlow, AI, metaverse, bigdata, Self-Driving Car, Grpc, Protobuf, Spring Cloud, Swoole, Html5, GoLang, WebGL, Nodejs, Nosql, Redis, Hbase, Thrift，技术应该和艺术结合在一起，我的梦在哪里，我就飘在哪里，因为只有奋斗，才能改变命运</h2>
			<!--<h2 class="introline">在日常工作中，严格要求自己，勤奋好问，工作认真负责。在较短的时间内就掌握了公司的主要开发技术和开发框架，
				接受能力，自我学习能力强。遇到问题能及时与项目成员进行沟通，合理分配工作任务，在日常开发过程中能够帮助其他员工排除程序错误。
				遇到程序中的bug能够及时发现造成问题的原因，并及时解决问题，思路清晰。工作中能积极与用户、司机沟通，做好需求调研与系统演示，
				遇到问题能够灵活处理。开发代码，主动进行自测，编写测试用例，提高代码可靠性。主动查看错误日志，降低错误影响范围。主动查看接口响应时间，
				优化应用性能。常为项目开发、公司发展建言献策，将一些新技术、新框架引入到项目中。我的座右铭：“好的开始是成功的一半。”。
			</h2>-->
			<h4 class="strapline">
				Email:1097692918@qq.com
			</h4>
			<nav id="social">
				<ul id="social-icons">
					<li>
						<a href="http://weibo.com/justwannabewithyou" class="weibo">新浪微博</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/justwannabewithyou" class="linkedIn">linkedIn</a>
					</li>
					<li>
						<a href="http://www.renren.com/zhangchunsheng423" class="renren">人人网</a>
					</li>
					<li>
						<a href="https://www.facebook.com/yiluxiangbeigp" class="facebook">facebook</a>
					</li>
					<li>
						<a href="https://github.com/zhangchunsheng" class="github">github</a>
					</li>
				</ul>
			</nav>
			<p class="green">
				<span class="heart"></span>
				请爱护环境，节约纸张
				<span class="heart"></span>
			</p>
			<div class="earth">
				
			</div>
		</section>

		<section id="technology" class="section">
			<div class="content">
				<div class="info">
					技术改变未来
				</div>
				<div class="skill-section-one" id="skills">

				</div>
				<div class="skill-section-two">
					<h3>Java/PHP/Lua/Python/Node.js/Golang/C/C++/Asp.net/C#</h3>
					<p>用Java构建企业级应用，用PHP构建网站是个不错的选择；AI你不得不学了，anaconda和jupyter是很好的工具；Node.js扩展了JavaScript的应用场景；Java让我理解了面向对象</p>

					<h3>HTML5/CSS3/WebAR/WebGL/Vue/Javascript/JQuery/Bootstrap</h3>
					<p>喜欢Chrome，喜欢V8，喜欢javascript，electron是个不错的项目，用electron构建桌面App，移动互联网改变了百姓生活，元宇宙值得期待</p>

					<h3>Nosql/Mysql/tidb/Percona/mariadb/fastdfs/fastcfs/sqlite/mmap/clickhouse/mongo/cassandra/HBase/Oracle</h3>
					<p>世界充满了数据，数据查询、添加、修改、删除、分析、备份、还原、安全都是需要考虑的问题，大数据时代需要nosql和分布式存储，fastcfs是个不错的选择</p>

					<h3>RabbitMQ/Kafka/Redis/Yac/Aerospike/canal</h3>
					<p>队列和缓存的使用可以很好的提高并发量，基于消息订阅/消费的架构可以让数据处理有序进行，用时间换空间，数据流转可以让各业务只处理相关数据</p>

					<h3>spring-boot/spring-cloud/MyBatis/druid/netty/Zend/Phalcon/Medoo/Yaf/Yar/express/beego/http/tcp/protobuf/grpc/Thrift</h3>
					<p>合理的使用框架和协议，有利于项目更快的开发、迭代、升级、维护，构建符合行业标准的接口服务</p>

					<h3>Design Patterns/Singleton/Factory/Adapter/Composite/MVC/UML</h3>
					<p>使用设计模式和建模工具，有利于项目开发、维护，提供清晰的架构和文档说明</p>

					<h3>phabricator review/phpunit/XhProf/tsar/ab/JMeter/ELK/Fluentd/filebeat/Kibana/prometheus/Grafana/APM/gdb/curl/netstat/top/tcpdump/tail/cat/zcat/grep/awk</h3>
					<p>代码review有利于相互学习、相互监督，提前发现问题，单元测试通过白盒测试提前发现问题，通过业务和系统日志收集可以发现潜在的bug，系统瓶颈</p>

					<h3>Nginx/rpm/yum/VZ/LXC/systemd/LVS/haproxy/rsync/Jenkins/k8s/docker/docker-compose/Harbor/nexus/ansible/openldap/etcd/cronsun/openstack</h3>
					<p>运维是项目运行的支撑，相关软件的部署、调优是必不可少的</p>

					<h3>Team management/Project management/OKR/redmine/wekan/jira/gitlab/phabricator</h3>
					<p>绩效考核，团队管理，项目管理也是做出优秀产品的一个保证，现代管理学之父彼得·德鲁克认为，"有效的管理者应注重用人之长处，而不介意其缺点。"</p>

					<h3>Microservice/register/config/Circuit Breaker/Hystrix/Cloud Native/Kubernetes/Mesos</h3>
					<p>服务的稳定性、可伸缩性等是互联网服务必不可少的，微服务和云原生的架构，可以很好的解决服务器宕机等问题</p>

					<h3>Flink/Hadoop/zookeeper/CDH/Spark/Azkaban/Kudu/Hive/Hue/Doris/IoT/TDengine</h3>
					<p>大数据分析是用户增长、公司运营等决策依据，通过用户行为分析提供个性化推荐，提供可视化数据为用户创造价值</p>

					<h3>AI/metaverse/DeepLearning/matlab/CV/NLP/CNN/RNN/RCNN/lstm/Sigmoid/Relu/Caffe/tensorflow/pytorch/paddlepaddle</h3>
					<p>通过深度学习，让计算机识别图片、语音、语义、合成语言，在智慧城市、自动驾驶、客服、医学、教育、工业等领域将得到广泛应用，通过元宇宙、数字孪生、数字员工等技术解决实验数据采集、工业安全等问题</p>

					<h3>Apple/Google/Google Lens/Google Glass/Google Car/Tesla/SpaceX/集度/大疆/小米/小鹏</h3>
					<p>喜欢Apple和Google的产品，觉得他们很酷</p>
				</div>
			</div>
		</section>

		<section id="work" class="section">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline">
						<dl>
							
						</dl>
					</div>
				</div>
			</div>
		</section>

		<section id="qrcode" class="section">
			<div class="row">
				<div class="col-md-12">
					<img src="images/qrcode2_new.png" class="avatar"/>
				</div>
			</div>
		</section>

		<section id="statement" class="section">
			<div class="content">
				<h2>参考</h2>
				<ul>
					<li>
						<a href="http://www.facebook.com">
							http://www.facebook.com
						</a>
					</li>
				</ul>
			</div>
		</section>
		
		<footer>
			
		</footer>
		
		<a href="#introduction" id="to-top-button" style="">回到顶部</a>

        <script type="text/template" id="skill_template">
            <div class="core-skills">
                技能
            </div>
            <div class="skill-diagram">
            	<% for(var i = 0; i < skills.length; i++) { %>
	            <div class="<%= skills[i].name %>-skill">
	                <div class="<%= skills[i].name %>-skill-content">
	                    <%= skills[i].content %>
	                </div>
	            </div>
	            <%}%>
            </div>
        </script>

        <script type="text/javascript" src="js/lib/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.i18n.properties.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/underscore-min.js"></script>

        <!--<script type="text/javascript" src="js/webGL/three.min.js"></script>
		<script type="text/javascript" src="js/webGL/Projector.js"></script>
		<script type="text/javascript" src="js/webGL/CanvasRenderer.js"></script>
		<script type="text/javascript" src="js/webGL/stats.min.js"></script>
        <script type="text/javascript" src="js/webGL/earth.js"></script>-->
        <script type="text/javascript" src="js/math/sphere.js"></script>
        <script type="text/javascript" src="js/math/earth.js"></script>
        <script type="text/javascript" src="js/math/heart.js"></script>

        <script type="text/javascript">
            var data = [{
                name: "java-php",
                content: "Java/PHP/Lua"
            }, {
                name: "html5-css3",
                content: "HTML5/JS/CSS3"
            }, {
                name: "js-jquery",
                content: "MVC/Yaf/Yar"
            }, {
                name: "mysql-oracle",
                content: "Mysql/Nosql"
            }, {
                name: "nosql",
                content: "RabbitMQ/Kafka"
            }, {
                name: "hbase-thrift",
                content: "Linux/yum/lxc"
            /*}, {
                name: "hadoop",
                content: "Hadoop"
            }, {
                name: "nodejs",
                content: "Nodejs"*/
            }];
            var html = $("#skill_template").html();
            $("#skills").html(_.template(html)({skills: data}));
        </script>
        <script type="text/javascript" src="js/init.js"></script>
        <script type="text/javascript" src="js/timeline.js"></script>
        <script type="text/javascript" src="js/about.js"></script>
	</body>
</html>
