<!DOCTYPE html>
<html lang="cn">
	<head>
		<title>Chunsheng Zhang | CN Software Engineer</title>
		<meta charset="utf-8" />
		<meta name="author" content="Chunsheng Zhang" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta name="description" content="我的个人简历，使用html5开发" />
		<meta name="keywords" content="张春生, Chunsheng, Zhang, Zhang Chunsheng, Chunsheng Zhang, Software Engineer, TensorFlow, AI, Self-Driving car, HTML5, Node, Nodejs, Webkit, Chrome, Firefox, Safari, Google Glass, Android, Java, Redis, HBase, Hadoop, Mysql, MongoDB, PHP, Python, Golang, C Lang, CLang, javascript, 关于我, 全栈工程师, 软件开发工程师, 人工智能, 自动驾驶, 无人驾驶, 软件开发, 软件工程师, 江苏, 徐州" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link rel="bookmark" href="favicon.ico"/>
		<link rel="apple-touch-icon" href="images/golang-gopher-figurine.png" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootflat.css">
		<link rel="stylesheet" type="text/css" href="css/about.css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/about_en.css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width: 600px) and (min-width: 5px)" />
		<link rel="stylesheet" type="text/css" href="css/tablet.css" media="screen and (max-width: 880px) and (min-width: 601px)" />
		<!-- <link href='css/family_lato.css' rel='stylesheet' type='text/css'> -->
	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	    <!--[if lt IE 9]>
	      <script src="js/lib/html5shiv.js"></script>
	      <script src="js/lib/respond.min.js"></script>
	    <![endif]-->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-31588662-3']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<header class="docs-header">
			<nav class="navbar navbar-default navbar-custom menu" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="navbar-brand">
		                	<bdo dir="RTL">resume</bdo>
		            	</div>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a class="nav-link" href="./aboutMe.html"><bdo dir="RTL">中文</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="introduction"><bdo dir="RTL">introduction</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="technology"><bdo dir="RTL">technology</bdo></a>
							</li>
							<li>
								<a class="nav-link" href="#" data-href="work"><bdo dir="RTL">work</bdo></a>
							</li>
							<li>
								<a class="nav-link"  href="#" data-href="statement"><bdo dir="RTL">statement</bdo></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		
		<section id="introduction" class="section">
			<h1 class="introduction">I am Chunsheng Zhang</h1>
			<h2 class="strapline">Native place: Xuzhou Jiangsu, full-stack engineer, php & html5 senior software engineer, like python, lua, like iOS, like to study and research on new technology: TensorFlow, AI, Self-Driving Car, Swoole, html5, GoLang, webGL, nodejs, nosql, redis, hbase, thrift, technology should be combined with art</h2>
			<h4 class="strapline">
				Email:1097692918@qq.com<br />
			</h4>
			<nav id="social">
				<ul id="social-icons">
					<li>
						<a href="http://weibo.com/justwannabewithyou" class="weibo">weibo</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/in/justwannabewithyou" class="linkedIn">linkedIn</a>
					</li>
					<li>
						<a href="http://www.renren.com/zhangchunsheng423" class="renren">renren</a>
					</li>
					<li>
						<a href="https://www.facebook.com/yiluxiangbeigp" class="facebook">facebook</a>
					</li>
					<li>
						<a href="https://github.com/zhangchunsheng" class="github">github</a>
					</li>
				</ul>
			</nav>
		</section>

		<section id="technology" class="section">
			<div class="content">
				<div class="info">
					technology to change the future
				</div>
				<div class="skill-section-one" id="skills">

				</div>
				<div class="skill-section-two">
					<h3>Python/Node/Golang/PHP/Lua/C/C++/Java/Asp.net/C#</h3>
					<p>AI you have to learn it now, Python is fascinating people; Node is more and more popular; Java let me understand the Object-Oriented, but java is too heavy; use php & ruby to build website is a good choice</p>

					<h3>HTML5/CSS3/WebGL/Javascript/JQuery/Bootstrap</h3>
					<p>I like Chrome, like V8, like javascript, webapp will become the mainstream, node-webkit is a nice project, so let the trend of mobile internet to be more violent</p>

					<h3>Nosql/Redis/HBase/Hadoop/Mysql/Oracle</h3>
					<p>The world is full of data, search data, add, update, delete, analysis, backup, restore and data safe issues that need to be considered, big data age need nosql</p>

					<h3>Apple/Google/Google Glass/Google Car/TensorFlow/AI</h3>
					<p>I like Apple and Google's products, they are very cool</p>
				</div>
			</div>
		</section>

		<section id="work" class="section">
			<div class="row">
				<div class="col-md-12">
					<div class="timeline">
						<dl>
							
						</dl>
					</div>
				</div>
			</div>
		</section>

		<section id="qrcode" class="section">
			<div class="row">
				<div class="col-md-12">
					<img src="images/qrcode2_new.png" class="avatar"/>
				</div>
			</div>
		</section>

		<section id="statement" class="section">
			<div class="content">
				<h2>reference</h2>
				<ul>
					<li>
						<a href="http://www.facebook.com">
							http://www.facebook.com
						</a>
					</li>
				</ul>
			</div>
		</section>
		
		<footer>
			
		</footer>
		
		<a href="#introduction" id="to-top-button" style="">back to top</a>

        <script type="text/template" id="skill_template">
            <div class="core-skills">
                tech
            </div>
            <div class="skill-diagram">
            	<% for(var i = 0; i < skills.length; i++) { %>
	            <div class="<%= skills[i].name %>-skill">
	                <div class="<%= skills[i].name %>-skill-content">
	                    <%= skills[i].content %>
	                </div>
	            </div>
	            <%}%>
            </div>
        </script>

        <script type="text/javascript" src="js/lib/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.i18n.properties.js"></script>
        <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/lib/underscore-min.js"></script>
        <script type="text/javascript">
            var data = [{
                name: "java-php",
                content: "php/lua/java"
            }, {
                name: "html5-css3",
                content: "HTML5/CSS3"
            }, {
                name: "js-jquery",
                content: "js/jquery/node"
            }, {
                name: "mysql-oracle",
                content: "mysql/oracle"
            }, {
                name: "nosql",
                content: "nosql/redis"
            }, {
                name: "hbase-thrift",
                content: "hbase/thrift"
            /*}, {
                name: "hadoop",
                content: "hadoop"
            }, {
                name: "nodejs",
                content: "nodejs"*/
            }];
            var html = $("#skill_template").html();
            $("#skills").html(_.template(html)({skills: data}));
        </script>
        <script type="text/javascript" src="js/init.js"></script>
        <script type="text/javascript" src="js/timeline.js"></script>
        <script type="text/javascript" src="js/about.js"></script>
	</body>
</html>
